body {
    background-color: rgb(230, 226, 226);
    margin: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #fff;
}

.clr {
    clear: both; /* will clear any floats above, fixes overlapping issues*/
}

a:hover {
    color: red;
}

a:active {
    color: blue;
}

.contenedor-1 {
    text-align: center;
    background-color: rgb(67, 114, 215);
    padding: 35px;
    font-size: 1.5rem;
    border: rgb(244, 239, 239);
    border-radius: 1rem;
    border-style: solid;
    border-bottom: 20px solid rgb(239, 237, 237);
}

.contenedor-1 h1 {
    text-decoration: underline;
}

.contenedor-2 {
    background-color: rgb(67, 114, 215);
    padding: 30px;
    border: rgb(244, 239, 239);
    border-radius: 1rem;
    border-style: solid;
    margin-top: 15px;
}

.navegador {
    background-color: lightblue;
    border-radius: 1rem;
    border: rgb(244, 239, 239);
    border-style: solid;
    margin-top: 15px;
    padding: 25px;
}

.navegador h2 {
    text-align: center;
}

.bloque {
    float: left;
    width: 33.3%;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box; /* Applies the padding/border into the width */
    border:1px solid #fff;
    background-color: gray;
}